<nav class="navbar navbar-default"style="display:flex; padding: 10px">
    <div class="container-fluid" style="margin-left: 0;">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WeLearn CMS</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelected('documents')">Documents</a></li>
        <li><a href="#" (click)="onSelected('messages')">Messages</a></li>
        <li><a href="#" (click)="onSelected('contacts')">Contacts</a></li>
      </ul>
    </div>
    <div class="dropdown" appDropdown>
      <button class="btn btn-default dropdown-toggle" type="button">
        User <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Login</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
  