.navbar {
    margin-bottom: 0;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav > li > a {
    padding: 10px 15px;
  }
  
  .navbar-nav .dropdown-menu > li > a {
    padding: 10px 20px;
  }
  